@media(max-width:1405px){
    .primary-logo{
        /* border: 5px solid black; */
        left: 10px;
        width: 9vw;
        /* top: -15px; */
    }
    .primary-logo h5{
        /* border: 5px solid green; */
        width: 100%;
    }
}
@media(max-width:1366px){
    .desktop-text-button{
        /* border: 5px solid purple; */
        height: 50vh;
        width: 50vw;
    }
    .desktop-slide-1-text h1{
        width: 100%;
    }

}
@media(max-width:1278px){
    .desktop-text-button-2{
     max-height: 20vh;
     width: 40vw;
     /* margin-left: 5px; */
    }
 }
 

@media(max-width:1246px){
    .primary-desktop-nav{
        display: block !important;
    }
    header{
        display: none !important;
    }
    .secondary-nav-2{
        display: none !important;
    }  
  }





@media(max-width:1224px){
   .desktop-text-button-6{
    /* border: 5px solid green; */
    width: 50%;
   }
   .desktop-text-button-6 h1{
    /* border: 5px solid blue; */
    width: 80%;
    
   }
   .desktop-text-button-6 p{
    /* border: 5px solid red; */
    width: 80%;
   }

    
 }
 @media(max-width:1200px){ 
   .result-button{
    /* border: 5px solid green; */
    width: 30vw;
    margin-left: -50px;
   }
}

 



@media(max-width:993px){ 
    .header{
        display: none !important;
    }
}

@media(max-width:768px){
    .footer{
        display: none !important;
    }
    .primary-footer{
        display: block !important;
    }
    .section-3-row .col-md-3{
        /* display: flex; */
        /* border: 5px solid black; */
        /* flex-wrap: wrap; */
      

    }
    .result-button{
        /* border: 5px solid yellow; */
        margin-left: 30px;
    }

}

@media(min-width:768px){
   .carousel-2{
    display: none !important;
   }
}



@media(max-width:767.98px){
    .section-mobile-nav{
        display: block !important;
    }
}
@media(max-width:767px){
   .carousel-2{
    display: block;
   }
   .carousel-1{
    display: none;
   }
}




@media(max-width:763px){
    /* .bg-img-1{
        position: relative;
        display: block;
        border: 5px solid green;
        background-position: 50%;
        background-size: cover;
        height: 50vh;
    }
    .text-button{
        position: absolute;
        display: block;
        border: 5px solid red;
        bottom: 10px;
        right: 10px;
    } */
    .carousel-1{
        display: none !important;
    }
    #gt-mobile .carousel-inner .carousel-item img{
        /* border: 5px solid black; */
        height: 50vh;
    }
    .carousel-2{
        display: block !important;
    }
}




@media(max-width:576px){
    .container{
        max-width: 540px;
    }
   
    .card-wrapper {
        /* width: 100%; */
        /* border: 5px solid black; */
        display: block;
        /* flex-wrap: wrap; */
    }
    
    .container{
        max-width: 540px;
    }
    .card-wrap .card{
        width: 100%;
    }
    .result-button{
        /* border: 5px solid black; */
        margin-left: -30px;
    }
}

@media(max-width:575px){
    .section-3-row {
        display: block !important ;
        /* gap: 10px; */
        /* border: 5px solid blue !important; */
        /* width: 100%; */
    }
    .section-3-row .card{
        /* border: 5px solid green; */
        /* width: 100vw; */
    }
    .section-4 .container .row{
        display: block !important;
        /* border: 5px solid red; */
    }
    .digital-experience{
        display: block;
        /* border: 5px solid red; */
        background-position: center;
        height: 50vh;
    }
    .macro-economy{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 50vh;
    }
    .change-makers{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 50vh;
    }
    .the-corvus{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 50vh;
    }
    .habari-pay{
        display: block;
        /* border: 5px solid green; */
        background-position: center;
        height: 60vh;
    }

}


